div.waveForm {
  z-index: 999;
  padding: 5px;
  /* position: absolute; */
  /* margin-top: 200px; */
  /* margin-left: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 545px;
  height: 135px;
  /* transform: scale(1.1); */
  /* overflow: hidden; */
  border-radius: 15px;
  /* background-color: black; */
  z-index: 9999;
  backdrop-filter: brightness(60%);

  div.wavesurfer {
    width: 555px;
    height: 135px;
  }
}

div.bottomPlayerWaveForm {
  /* padding-top: 1px; */
  width: 80%;
  overflow: hidden;
  height: 100%;
}
