div.waveForm {
  margin-top: 200px;
  margin-left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 555px;
  height: 135px;
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 15px;
}

div.wavesurfer {
  width: 555px;
  height: 135px;
}
