section.registerSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button.registerWithGoogleBtn {
    margin: 0 auto;
    border-radius: 15px;
    height: 6vh;
    width: 25vw;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-radius: 15px;
      background-color: white;
    }

    &:focus {
      outline: none;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
    }

    &:disabled {
      filter: grayscale(100%);
      background-color: white;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }
  }

  .registerDivider {
    margin: 0 auto;
    width: 25vw;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;

    &:before {
      content: "";
      background-color: white;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      color: white;
      position: relative;
      display: inline-block;
      padding: 0 0.5em;
      line-height: 1.5em;
      background-color: #202124;
    }
  }

  h2.register {
    font-family: "Poppins", sans-serif;
    width: 25vw;
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  p {
    width: 30%;
    font-size: 20px;
    font-weight: 800;
    margin: 0 auto;
  }
  form {
    width: 25vw;
    margin: 0 auto;

    div {
      width: 25vw;
      label.nameLabel,
      label.userNameLabel {
        display: "inline-block";
        font-size: 20px;
      }

      label.userNameLabel {
        margin-left: 10vw;
      }

      input.nameInputBox,
      input.userNameInputBox {
        height: 5vh;
        border: none;
        width: 40%;
        border-radius: 10px;
      }

      input.userNameInputBox {
        margin-left: 5vw;
      }
    }
    label {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 600;
    }

    input.registerPageInputBox {
      font-family: "Poppins", sans-serif;
      border-radius: 10px;
      margin-bottom: 15px;
      height: 5vh;
      width: 95%;
      font-size: 20px;
      color: black;
      background-color: white;
      border: none;
      padding: 0 10px;
    }
    input.registerPageInputBox:focus {
      outline: none;
    }

    button.registerButton {
      margin-top: 10px;
      border-radius: 15px;
      height: 6vh;
      width: 100%;
      text-align: center;
      color: black;
      font-size: 20px;
      background-color: white;
      font-weight: 600;
      border: none;
      transition: background-color 1s;
    }

    button.registerButton:hover {
      background-color: #adadad;
    }

    a {
      font-size: 18px;
      margin-left: 22vh;
    }
  }

  p#signInRedirectButton {
    font-size: 15px;
    /* margin: 0 auto; */
    text-wrap: nowrap;
    /* margin-left: 100px; */
  }

  a#signInRedirectLink {
    font-size: 15px;
    text-align: center;
  }
}
