main {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */

  section.leftSection {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100%;
    /* background-color: blue; */
  }

  section.rightSection {
    /* overflow: auto; */
    /* height: 100; */
    overflow-y: scroll;
    overflow-x: hidden;
    /* max-width: 100vh; */
    /* overflow-x: hidden; */
    gap: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 47vw;
    /* background-color: red; */
    height: 100%;
  }
  section.rightSection::-webkit-scrollbar {
    display: none;
  }
}
